<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The End</title>
</head>
<style>
    body {
        background-image: url('https://fatememoqadam.github.io/assets/images/32.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat
    }

    body {
        font-size: 300%;
        align-items: center;
    }
</style>

<body dir="rtl">
    <center>
        <br>
        <p>
            ممنون از اینکه این برنامه را انتخاب کردید!:)
        </p><br><br>
        <a href="{% url 'getbetter:feel' %}">
            <p>شروع دوباره
            </p>
        </a>
    </center>
</body>

</html>